@import '../../index.scss';

.about-details {
    border-left: 5px solid $tealColor;
    border-right: 5px solid $tealColor;

    .sleep {
        animation: float 5s linear infinite;
        // transform: translateX(-175px) !important;
    }

    .show {
        border-radius: 10px;
    }

}

.right-sleep {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(25px);
    }
}